@font-face {
    font-family: "PTSans";
    src: url(/font/PTSans-Regular.ttf);
}

body {
    margin: 0;
    background-color: #F1EEE9;
    font-family: "PTSans";
}

#container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
} 

#input-sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color:#b3b6b9;
}

.logo-container {
    display: flex;
    padding: 10px;
}

.logo-container > img {
    flex: .75;
    width: 100%;
    height: 80%;
}

h1 {
    flex: 1;
    display: inline-block;
    font-size: 3em;
    color: white;
    margin: 0;
    padding-bottom: 5px;
}

#input-sidebar > div > div {
    display: inline-block;
    max-width: 70px;
    max-height: 70px;
}

#input-sidebar > div > div > img {
    width: 100%;
    height: 80%;
}

#input-sidebar form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label[for=read] {
    font-size: 1.25em;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.book-table {
    flex-basis: 50%;
    width: 75%;
}

form input { 
    width: 70%;
    height: 3vh;
 }

form > button {
    border-radius: 5px;
}

form input:nth-child(-n+3) {
    margin: 30px;
}

.libraryStats {
    font-size: 1.5em;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

thead {
    background-color: black;
    color: white;
}

td {
    border-bottom: 1.25px dotted gray;
    width: 5vw;
    height: 3vh;
}

tr, th {
    height: 8vh;
    font-size: 1.25em;
}

tbody > tr:nth-child(even) {
    background-color: #b3b6b9;
}